# Ignore virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Streamlit logs
.streamlit/

# Mac / Windows junk
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Jupyter (in case)
.ipynb_checkpoints/
